.input-field {
    margin-top: 10;
}

.hr-light {
    width: 70%;
}

.input {
    font-size: 18;
    color: #fff;
    background-color: transparent;
    width: 200;
}

#imageUser {   
    border-radius: 100%;
    width: 45%;
}

#iconEdit {
    margin-left: 30%;
    width: 9%;
    margin-bottom: 5%;
}

#iconDataUser  {
    margin-right: 20%;
    width: 11%;
}

#iconSave {
    width: 10%;
    margin-left: 8%;
}

.loginLayout {
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
    
}

.formLayout {
    vertical-align: middle;
    padding: 0 40 0 40;
}
