.profileLayout {
    vertical-align: middle;
    padding: 0 50 0 50;
}
.imageUser {   
    border-radius: 100%;
    width: 35%;
}
.underlinesWords {
    margin-top: 5;
    text-decoration: underline;
    text-align: right;
    color: #1A0DAB;
    font-size:15
}
.iconEdit {
    width: 9%;
}
.input-edit{
    padding-left: 100%;
    margin-bottom: 50;
}
.input-field {
    margin-top: 5;
}