.input-field {
    margin-top: 10;
    padding: 0 60 0 60;
    flex-grow: 2;
}

.hr-light {
    width: 85%;
}

.input {
    font-size: 18;
    color: #fff;
    background-color: transparent;
    width: 200;
}

#imageUser {   
    border-radius: 100%;
    width: 45%;
}

#iconEdit1 {
    margin-left: 30%;
    width: 8%;
    margin-bottom: 5%;
}

#iconEdit2, #iconEdit3  {
    margin-right: 20%;
    width: 12%;
}

.loginLayout {
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
    
}

.formLayout {
    vertical-align: middle;
}
