.fab-button {
    height: 70;
    width: 70; /* this is required on iOS - Android does not require width so you might need to adjust styles*/
    margin: 15;
    background-color: #ff4081;
    horizontal-align: right;
    vertical-align: bottom;
}
.cabeceraLayout{
  padding: 5;
}
.label-dropDown{
  font-size:16;
  font-weight: bold;
}