.loginLayout {
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 62, 62);
}

.formLayout {
  padding: 0 30 0 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 10;
  height: 175;
}

Button, TextField {
  margin-bottom: 3;
}

.btn-primary {
  height: 50;
  margin: 30 70 15 70;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.input-field {
  margin-bottom: 10;
}

.input {
  font-size: 18;
  color: #fff;
  placeholder-color: rgb(255, 255, 255, 0.6);
  background-color: transparent;
}
.check {
  font-size: 18;
  color: #fff;
  background-color: transparent;
}
.hr-light{
  background-color: #fff;
}

.underlinesWords {
 text-align: right;
 color: #fff; 
 text-decoration: underline;
}