.loginLayout {
  vertical-align: middle;
  padding: 0 50 0 50;
}

.logo {
  height: 175;
  margin-bottom: 10;
}

.input-field {
  margin-bottom: 5;
}

.input {
  font-size: 18;
  color: rgb(0, 0, 0);
  placeholder-color: rgba(105, 105, 105, 0.6);
  background-color: transparent;
}

.hr-light{
  background-color: rgba(105, 105, 105);
}

.btn-primary {
  margin: 35 50 5 50;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.underlinesWords {
  margin-top: 5;
  text-decoration: underline;
  text-align: right;
  color: #1A0DAB;
  font-size:15
}

.extra{
  margin-top: 5;
}